<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="multiply_form">
    Divide this:
  </label>
  <input id="multiply_form" name="first_number" type="text">

  <label for="">
    by this:
  </label>
  <input id="" name="second_num" type="text">

  <button>
    Divide!
  </button>
</form>
