<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="multiply_form">
    Multiply this:
  </label>
  <input id="multiply_form_one" name="first_number" type="text">

  <label for="multiply_form_two">
    by this:
  </label>
  <input id="multiply_form_two" name="second_num" type="text">

  <button>
    Divide!
  </button>
</form>
